<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>[arodriguez.icon]</string>
		<key>shortcut</key>
		<string>あんじー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[okodai.icon]</string>
		<key>shortcut</key>
		<string>おいかわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[nogawa.icon]</string>
		<key>shortcut</key>
		<string>おがわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[kokuda.icon]</string>
		<key>shortcut</key>
		<string>おく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[rohgane.icon]</string>
		<key>shortcut</key>
		<string>ぎゃに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[cishii.icon]</string>
		<key>shortcut</key>
		<string>せん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[stakada.icon]</string>
		<key>shortcut</key>
		<string>たかだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[tkentaro.icon]</string>
		<key>shortcut</key>
		<string>たなか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[tmurayama.icon]</string>
		<key>shortcut</key>
		<string>ともちん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[nsuda.icon]</string>
		<key>shortcut</key>
		<string>なの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[mnegishi.icon]</string>
		<key>shortcut</key>
		<string>ねぎし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[nhashimoto.icon]</string>
		<key>shortcut</key>
		<string>はし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[thasegawa.icon]</string>
		<key>shortcut</key>
		<string>はせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[hmatsubara.icon]</string>
		<key>shortcut</key>
		<string>はる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[khirai.icon]</string>
		<key>shortcut</key>
		<string>ひらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[hiwamoto.icon]</string>
		<key>shortcut</key>
		<string>ひろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[ymiyake.icon]</string>
		<key>shortcut</key>
		<string>みやけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[amukai.icon]</string>
		<key>shortcut</key>
		<string>むかい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[rshibata.icon]</string>
		<key>shortcut</key>
		<string>りおな</string>
	</dict>
</array>
</plist>
