body {
    background-image: url("../../images/backgroundgreeen.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
}


/*ヘッダー*/
　 .header {
}


/*テキストp131*/

.pagebody {
    display: flex;
    justify-content: center;
}

.pagebodysub {
    width: 220px;
    background-color: beige;
    text-align: center;
    padding-top: 50px;
}







.pagebodyMain{
    width: 780px;
    text-align: left;
    padding-left: 60px;
    background-color: white;
}

.quizzes-container{
    width: 400px;
    margin: 50px auto;
}

.quiz-container {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.btn {
    margin-top: 20px;
    font-family: serif;
    background-color: white;
}

#score-container {
    border: 1px solid black;
    height: 50px;
}

.btn-score {
    display: block;
    margin: 20px auto;
    font-family: serif;
    background-color: white;
}



    



.footer {
    bottom: 0;
    text-align: right;
    background-color: white;
}
}
